

form {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 1em;
}

.form__btn {
   width: 100px;
   height: 50px;
   border-radius: 50px;
   padding: 2px;
   font-size: 1em;
   font-weight: bold;
   border: none;
   background: #1da1f1;
   margin: 0 auto;
}

.form__input {
    width: 25%;
    padding: 0.7%;
    margin: 1% 0;
    font-size: 1em;
    border: none;
    background: #ccc;
}